@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}
body , html{
  overflow-x: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.ant-row{
  margin: 0 20 !important;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color : orangered;
}
p{
  margin: 5px !important;
  
  padding: 0;
}

svg{
  height:20px !important;
  width : 20px !important;
}
a{
  color: orangered !important;
}